.card{
 
margin-top: 60px;
border: 5px;
padding: 5px;
margin-bottom: 40px;
    
display: flex;
justify-content: center;


    margin: 40px;
    
    float: left;
    
}

.maestros{
    background-color:aliceblue;
}